{% extends 'catalog/base.html' %}
{% load filters %}
{% block content %}

    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать. А также сервис по заказу продуктов и готовой еды.</p>
</div>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            {% for object in object_list %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">

                <div class="card-body">
                  <p class="card-text">{{ object }}</p>
                    <p class="card-text">
                            {{ object.description|truncatechars:50 }}
                    </p>
                    <img src="{{ object.image | mediapath_filter }}">

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
           {% endfor %}
{% endblock %}

