{% extends 'catalog/base.html' %}
{% load mediapath %}
{% block content%}

    <div class="container">
        <div class="row">
            <!-- Левая часть с изображением -->
            <div class="col-md-4">
                <img src="{% mediapath object.image %}" />
            </div>

            <!-- Правая часть с информацией о товаре -->
            <div class="col-md-8">
                <h2>{{ product.name }}</h2>
                <p>Описание товара: {{ product.description }}</p>
                <p>Цена: {{ product.price }} руб.</p>
                <button class="btn btn-primary">Положить в корзину</button>
            </div>


        </div>
    </div>
{% endblock %}
